In [3]:
import numpy as np
import pandas as pd
import plotly.express as px
import sys
import random

In [5]:
df = pd.read_csv('datasets/cleaned_dataset/cleaned_car_data.csv')
df.columns = ['car', 'disp', 'cyl', 'mil', 'fuel', 'fuel_t', 'hei', 'leng', 'wid', 'body_t', 'doors', 'powe', 'tor', 'seat_c', 'wheel', 'price', 'bts']


# price = sys.argv[1]
# body_t = sys.argv[2]

budget = 1
body_t = 4
disp = 998
mil = 18.27
fuel = 35.0
powe = 115.4
tor = 172.0
price = 1000100

print('budget: ',budget)
print('body_t: ',body_t)
print('disp: ',disp)
print('mil: ',mil)
print('fuel: ',fuel)
print('powe: ',powe)
print('tor: ',tor)
print('price: ',price)

# price= int(price)
count = df['price'].count()

budget:  1
body_t:  4
disp:  998
mil:  18.27
fuel:  35.0
powe:  115.4
tor:  172.0
price:  1000100

In [6]:
def lower_l (df, price):
    return df.loc[(df['price'] < price)]
                  
def upper_l (df, price):
    return df.loc[(df['price'] >= price)]

def val_ret(df1, disp, mil, fuel, powe, tor, price):
    num = df[df['disp']<disp].count()['disp']
    den = df['disp'].count()
    per = (num/den)*100
    disp_per = per
    print(float(np.round(disp_per, 2)))
    
    num = df[df['mil']<mil].count()['mil']
    den = df['mil'].count()
    per = (num/den)*100
    mil_per = per
    print(float(np.round(mil_per, 2)))
    
    num = df[df['fuel']<fuel].count()['fuel']
    den = df['fuel'].count()
    per = (num/den)*100
    fuel_per = per
    print(float(np.round(fuel_per, 2)))
    
    num = df[df['powe']<powe].count()['powe']
    den = df['powe'].count()
    per = (num/den)*100
    powe_per = per
    print(float(np.round(powe_per, 2)))
    
    num = df[df['tor']<tor].count()['tor']
    den = df['tor'].count()
    per = (num/den)*100
    tor_per = per
    print(float(np.round(tor_per, 2)))
    
    num = df[df['price']<price].count()['price']
    den = df['price'].count()
    per = (num/den)*100
    price_per = per
    print(float(np.round(price_per, 2)))
    return

In [7]:
if budget==1:
    
    if price<=1000000:
        df_1 = upper_l(df, 1000000)
        val_ret(df_1, disp, mil, fuel, powe, tor, price)
    
    elif price <=3500000:
        df_u = upper_l(df, 3500000)
        df_1 = lower_l(df_u, 1000000)
        val_ret(df_1, disp, mil, fuel, powe, tor, price)
    elif price<=5000000:
        df_u = upper_l(df, 5000000)
        df_1 = lower_l(df_u, 3500000)
        val_ret(df_1, disp, mil, fuel, powe, tor, price)
            
    elif price <= 7500000:
            
        df_u = upper_l(df, 7500000)
        df_1 = lower_l(df_u, 5000000)
        val_ret(df_1, disp, mil, fuel, powe, tor, price)
          
    elif price <= 10000000:
          
        df_u = upper_l(df, 10000000)
        df_1 = lower_l(df_u, 7500000)
        val_ret(df_1, disp, mil, fuel, powe, tor, price)
            
    else:
            
        df_1 = lower_l(df_u, 10000000)
        val_ret(df_1, disp, mil, fuel, powe, tor, price)
            
elif budget == 2:
    
    if price >=1000000 and price<3500000:
        df_u = upper_l(df, 3500000)
        df_1 = lower_l(df_u, 1000000)
        val_ret(df_1, disp, mil, fuel, powe, tor, price)
        
    elif price<1000000:
        
        df_1 = upper_l(df, 1000000)
        val_ret(df_1, disp, mil, fuel, powe, tor, price)
        
    else:
        
        if price<5000000:
            
            df_u = upper_l(df, 5000000)
            df_1 = lower_l(df_u, 3500000)
            val_ret(df_1, disp, mil, fuel, powe, tor, price)
            
        elif price < 7500000:
            
            df_u = upper_l(df, 7500000)
            df_1 = lower_l(df_u, 5000000)
            val_ret(df_1, disp, mil, fuel, powe, tor, price)
            
        elif price < 10000000:
            
            df_u = upper_l(df, 10000000)
            df_1 = lower_l(df_u, 7500000)
            val_ret(df_1, disp, mil, fuel, powe, tor, price)
            
        else:
            
            df_1 = lower_l(df_u, 10000000)
            val_ret(df_1, disp, mil, fuel, powe, tor, price)

elif budget ==3:
    if price>=3500000 and price<5000000:
        df_u = upper_l(df, 5000000)
        df_1 = lower_l(df_u, 3500000)
        val_ret(df_1, disp, mil, fuel, powe, tor, price)
    
    elif price>=1000000 and price<3500000:
        df_u = upper_l(df, 3500000)
        df_1 = lower_l(df_u, 1000000)
        val_ret(df_1, disp, mil, fuel, powe, tor, price)
    
    elif price<1000000:
        df_1 = upper_l(df, 1000000)
        val_ret(df_1, disp, mil, fuel, powe, tor, price)
    
    else:
        
        if price >=5000000 and price<7500000:
            df_u = upper_l(df, 7500000)
            df_1 = lower_l(df_u, 5000000)
            val_ret(df_1, disp, mil, fuel, powe, tor, price)
        elif price >=7500000 and price<10000000:
            df_u = upper_l(df, 10000000)
            df_1 = lower_l(df_u, 7500000)
            val_ret(df_1, disp, mil, fuel, powe, tor, price)
        else:
            df_1 = lower_l(df_u, 10000000)
            val_ret(df_1, disp, mil, fuel, powe, tor, price)

elif budget==4:
    
    if price>=5000000 and price<7500000:
        df_u = upper_l(df, 7500000)
        df_1 = lower_l(df_u, 5000000)
        val_ret(df_1, disp, mil, fuel, powe, tor, price)
    
    elif price >=3500000 and price< 5000000:
        df_u = upper_l(df, 5000000)
        df_1 = lower_l(df_u, 3500000)
        val_ret(df_1, disp, mil, fuel, powe, tor, price)
    
    elif price>=1000000 and price < 3500000:
        df_u = upper_l(df, 3500000)
        df_1 = lower_l(df_u, 1000000)
        val_ret(df_1, disp, mil, fuel, powe, tor, price)
        
    elif price<1000000:
        df_1 = upper_l(df, 1000000)
        val_ret(df_1, disp, mil, fuel, powe, tor, price)
    
    else:
        if price<10000000:
            df_u = upper_l(df, 10000000)
            df_1 = lower_l(df_u, 7500000)
            val_ret(df_1, disp, mil, fuel, powe, tor, price)
            
        else:
            df_1 = lower_l(df_u, 10000000)
            val_ret(df_1, disp, mil, fuel, powe, tor, price)

elif budget==5:
    
    if price>=7500000 and priceL<10000000:
        df_u = upper_l(df, 10000000)
        df_1 = lower_l(df_u, 7500000)
        val_ret(df_1, disp, mil, fuel, powe, tor, price)
    
    elif price>=10000000:
        df_1 = lower_l(df_u, 10000000)
        val_ret(df_1, disp, mil, fuel, powe, tor, price)
        
    else:
        if price>=5000000:
            df_u = upper_l(df, 7500000)
            df_1 = lower_l(df_u, 5000000)
            val_ret(df_1, disp, mil, fuel, powe, tor, price)
            
        elif price>=3500000:
            df_u = upper_l(df, 5000000)
            df_1 = lower_l(df_u, 3500000)
            val_ret(df_1, disp, mil, fuel, powe, tor, price)
            
        elif price>=1000000:
            df_u = upper_l(df, 3500000)
            df_1 = lower_l(df_u, 1000000)
            val_ret(df_1, disp, mil, fuel, powe, tor, price)
            
        else:
            df_1 = upper_l(df, 1000000)
            val_ret(df_1, disp, mil, fuel, powe, tor, price)
            
else :
    if price>=10000000:
        df_1 = lower_l(df_u, 10000000)
        val_ret(df_1, disp, mil, fuel, powe, tor, price)
        
    elif price>=7500000:
        df_u = upper_l(df, 10000000)
        df_1 = lower_l(df_u, 7500000)
        val_ret(df_1, disp, mil, fuel, powe, tor, price)
        
    elif price>=5000000:
        df_u = upper_l(df, 7500000)
        df_1 = lower_l(df_u, 5000000)
        val_ret(df_1, disp, mil, fuel, powe, tor, price)
    
    elif price>=3500000:
        df_u = upper_l(df, 5000000)
        df_1 = lower_l(df_u, 3500000)
        val_ret(df_1, disp, mil, fuel, powe, tor, price)
        
    elif price>=1000000:
        df_u = upper_l(df, 3500000)
        df_1 = lower_l(df_u, 1000000)
        val_ret(df_1, disp, mil, fuel, powe, tor, price)
    
    else:
        df_1 = upper_l(df, 1000000)
        val_ret(df_1, disp, mil, fuel, powe, tor, price)

2.2
51.34
4.02
57.84
37.95
49.43

In [ ]:
# budget = sys.argv[1]
# body_t = sys.argv[1]
# disp = sys.argv[1]
# cyl = sys.argv[1]
# mil = sys.argv[1]
# fuel = sys.argv[1]
# fuel_t = sys.argv[1]
# hei = sys.argv[1]
# leng = sys.argv[1]
# wid = sys.argv[1]
# doors = sys.argv[1]
# powe = sys.argv[1]
# tor = sys.argv[1]
# seat_c = sys.argv[1]
# wheel = sys.argv[1]
# price = sys.argv[1]

In [ ]:
# import pandas as pd
# import plotly.express as px
# import sys

# df = pd.read_csv('datasets/cleaned_dataset/cleaned_Car_data')
# price = sys.argv[1]
# body_t = sys.argv[2]


# fig =px.scatter(x=range(10), y=range(10))
# fig.write_html("public/graphs/graph1.html")

In [ ]:
df_u = df[df['price']<5000000]
df_1 = df_u[df_u['price']>3500000]
df_1